@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #192734;
}

@media screen and (max-width: 680px) {
  div.gridTasks{
    display: grid;
    grid-template-columns: 1fr;
  }

  dialog.DialogTask{
    width: 100%;
    padding: 20px;
  }

}

@media screen and (max-width: 1280px) and (min-width: 680px) {
  div.gridTasks{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../images/bg_1.jpg");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1920px 900px;
  border-bottom: 5px solid #15202b;
  position: relative; 
}

.checkbox-wrapper {
  position: absolute;
  bottom: 5%;
  left: 3%;
  display: flex; 
  align-items: center;
  flex-direction: row;
  color: #fff7ef;
}

.checkboxText {
  margin-left: 10px; 
}

.switch {
  position: relative;
  display: inline-block;
  width: 70px;
  height: 30px;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 6px;
  bottom: 4px;
  background-color: #fff7ef;
  transition: .4s;
}

input:checked + .slider {
  background-color: #1b3a4d;
}

input:focus + .slider {
  box-shadow: 0 0 1px #1b3a4d;
}

input:checked + .slider:before {
  transform: translateX(36px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.flexBanner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%; 
}

.hero-text {
  color: #fff7ef;
}

.heroButton {
  display: block;
  font-size: 20px;
  text-decoration: none;
  color: #fff7ef;
  border: 2px solid #fff7ef;
  padding: 7px;
  letter-spacing: 2px;
  transition: all .25s;
  background-color: rgba(51, 51, 51, 0);
}

.heroButton:hover {
  letter-spacing: 5px;
}

.DialogTask {
  width: 500px;
  padding: 60px;
  background-color: #192734;
  border-radius: 5px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
}

label{
  color: #fff7ef;
  font-size: 20px;
}

.dialogTitle, .dialogTextarea, .dialogEmail{
  border: 2px solid black;
  background-color: #1b3a4d;
  color:#fff7ef;
  font-size: 16px;
}

.dialogTitle, .dialogEmail{
  width: 450px;
  margin: 5px;
  padding: 5px;
}

.dialogTextarea{
  resize: none;
  width: 450px;
  height: 300px;
  margin: 5px;
  padding: 5px;
}

.flexContainer{
  display: flex;
  justify-content: space-around;
}

.addTask, .cancelTask{
  font-size: 16px;
  text-decoration: none;
  color: #fff7ef;
  border: 2px solid #fff7ef;
  padding: 7px;
  transition: all .25s;
  background-color: rgba(51, 51, 51, 0);
}

.addTask:hover, .cancelTask:hover{
  background-color: #1b3a4d
}

.taskContainer{
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  color: #fff7ef;
  padding: 5px;
  border: 2px solid #fff7ef;
  padding: 10px;
  margin: 10px;
  border-radius: 15px;
}

.gridTasks{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
 
}

.taskDescription {
  overflow-wrap: anywhere;
}

.taskEmail{
  font-size: 12px;
  font-style: italic;
}

.fa-trash, .fa-check, .fa-file-pen{
  margin:15px;
  font-size: 22px;
  transition-duration: 0.25s;
}

.fa-trash:hover{
  color: #BA0021;
}

.fa-file-pen:hover{
  color:rgb(39, 87, 182);
}

.fa-check:hover{
  color: #018749;
}

.iconContainer{
  display:flex;
}

.titleContainer{
  display: flex;
  justify-content: space-between;
}

.footer-class{
  display: flex;
  justify-content: center;
  margin-top: auto;
  color: #fff7ef;
  padding-top: 40px;
  padding-bottom: 20px;
}

.vertical-line {
  padding: 10px;
  margin: 12px;
  margin-left: 30px;
  border-left: 1px solid #fff7ef;;
  height: 6px;
}

footer.footer-class button{
  border: none;
  background-color: inherit;
  color: #fff7ef;
  cursor: pointer;
  font-size: 16px;
  padding: 0;
}

.helpDialog{
  width: 600px;
  height: 700px;
  padding: 60px;
  background-color: #192734;
  border-radius: 5px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
}

.helpDialog p{
  color: #fff7ef;
}

input:invalid, textarea:invalid{
  border: 1px solid red;
}







